<div class="input-group rounded">
  <input type="search" (keyup)="buscar($event)" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <mat-icon>search</mat-icon>
  </span>
</div>




  <div class="container">
  <div class="row">
    <div class="col">

  <app-producto (addCarroClick)="addcarro($event)"
  
   [producto]="producto" 
  *ngFor='let producto of productos'></app-producto>
  </div>
</div>
</div>